<!DOCTYPE HTML
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://3.133.126.95/amorous_favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Verify Your Account</title>

    <style type="text/css">
        a,
        a[href],
        a:hover,
        a:link,
        a:visited {
            text-decoration: none !important;
            color: #0000EE;
        }

        .link {
            text-decoration: underline !important;
        }

        p,
        p:visited {
            font-size: 15px;
            line-height: 24px;
            font-family: 'Helvetica', Arial, sans-serif;
            font-weight: 300;
            text-decoration: none;
            color: #000000;
        }

        h1 {
            /* Fallback heading style */
            font-size: 22px;
            line-height: 24px;
            font-family: 'Helvetica', Arial, sans-serif;
            font-weight: normal;
            text-decoration: none;
            color: #000000;
        }

        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td {
            line-height: 100%;
        }

        .ExternalClass {
            width: 100%;
        }
    </style>
</head>

<body
    style="text-align: center; margin: 0; padding-top: 30px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000"
    align="center">
    <div style="text-align: center;">
        <!-- Start container for logo -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px;"
                        width="596">

                        <!-- Your logo is here -->
                        <img style="height: 103px; width: 250px;" src="<%= image_logo %>" alt="Logo"
                            style="width: 180px; max-width: 180px; height: 85px; max-height: 85px; text-align: center; color: #ffffff;"
                            align="center" width="180" height="85">

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End container for logo -->
        <!-- Start single column section -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 40px;"
                        width="596">

                        <h1
                            style="font-size: 20px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #000000;">
                            Forgot Password?
                        </h1>

                        <p
                            style="font-size: 15px; line-height: 24px; margin-bottom: 30px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #919293;">
                            Please <a href="<%= resetLink %>" style="color: #0C492B;">click here</a>
                            to reset your password.</p>



                        <div style="text-align:left; margin-top:50px">
                            <p style="margin-bottom:0px; font-weight:500">Thank You</p>
                            <h4
                                style="font-size: 20px; line-height: 24px; margin-top: 10px; margin-bottom: 0px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600;">
                                Amorous Team</h4>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End single column section -->
        <!-- Start footer -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background:#3f2d33"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;"
                        width="596">

                        <p
                            style="margin-bottom:10px; margin-top: 0px; text-align:center; color:#fff;font-family: 'Helvetica', Arial, sans-serif;">
                            Need More Help?</p>

                        <a href="#"
                            style="color:#fff; text-decoration: underline; text-align:center; display: block; font-family: 'Helvetica', Arial, sans-serif;">We
                            are here to help you out</a>

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End footer -->
    </div>

</body>

</html>