<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Session Expired</title>
    <link rel="icon" href="https://3.133.126.95/amorous_favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- <link rel="icon" href="http://13.55.42.229/favicon.ico" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap"
        rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: "Montserrat", sans-serif;
        }

        .success-box-wrap {
            min-height: calc(100vh - 61px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }

        .success-box {
            background: #efefef;
            max-width: 350px;
            padding: 30px;
            text-align: center;
            border-radius: 20px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="success-box-wrap">
        <div class="success-box">
            <img src="https://static.javatpoint.com/computer/images/how-to-fix-session-has-expired-error-on-the-internet.png"
                title="Expired" alt="Success Image" align="center" width="100" />
        </div>
    </div>
</body>

</html>