<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Success</title>
    <link rel="icon" href="https://3.133.126.95/amorous_favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap"
        rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: "Montserrat", sans-serif;
        }

        .success-box-wrap {
            min-height: calc(100vh - 61px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }

        .success-box {
            background: #efefef;
            max-width: 350px;
            padding: 30px;
            text-align: center;
            border-radius: 20px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="success-box-wrap">
        <div class="success-box">
          <!-- <img src="https://secondstagebikini.com:4005/image/success-chk.png" title="Success" alt="Success Image"
                align="center" width="100" /> -->

<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><defs><mask id="ipSSuccess0"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path fill="#fff" stroke="#fff" d="m24 4l5.253 3.832l6.503-.012l1.997 6.188l5.268 3.812L41 24l2.021 6.18l-5.268 3.812l-1.997 6.188l-6.503-.012L24 44l-5.253-3.832l-6.503.012l-1.997-6.188l-5.268-3.812L7 24l-2.021-6.18l5.268-3.812l1.997-6.188l6.503.012z"/><path stroke="#000" d="m17 24l5 5l10-10"/></g></mask></defs><path fill="#3eb00d" d="M0 0h48v48H0z" mask="url(#ipSSuccess0)"/></svg>
            <h3>Congratulations!</h3>
            <p>Your Password Reset successfully.</p>
            <!-- <a href="https://secondstagebikini.com/login">Go to Website</a> -->
        </div>
    </div>
</body>

</html>